* {
	padding:0;
	margin: 0;
}

	body {
	background: url('../images/psari.jpg') no-repeat center center fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: 90%;
	color: #993D6A;
	min-width: 100%;
 	min-height: 100%
}

h1 {
	font-family: Megrim, sans-serif;
	font-size: 4em;
	font-weight: lighter;
	background-color: #ffb719;
	border: 3px #ffb719;
	border-radius: 15px;
	width:85%;
	padding:3px 15px;
	margin-left: 7px;
	margin-top: 20px;
	display: inline-block;
	clear: both;
}

h3 {
	font-family: 'Lobster', cursive;
	font-size: 2em;
	font-weight: lighter;
}

p {
	font-family: sans-serif;
}

div > a {
	text-decoration: none;
	color: #000;
}

div > ul {
	font-family: 'Lobster', cursive;
	font-size: 1em;
	background-color: rgba(236, 197, 255, .7);
	/*width: 100%;*/
	/*height: 150px;*/
	position: relative;
	border: 1px solid #993D6A;
	padding: 15px 25px;
	margin: 0 0 0 85px;
	display: inline-block;
	top: 20px;
}

/*div > li {
	font-family: 'Anton', cursive;
	font-size: 0.7em;
}*/

.main {
	background-color: rgba(9, 178, 106, .8);
	width: 450px;
	border: solid;
	border-color: #CC146E;
	border-radius: 8px;
	display: inline-block;
	position: relative;
	right: 20px;
	top: 30px;
	color: #fff;
	text-align: right;
	padding: 10px 20px;
	margin: 0 40px;
	clear: both;
	float: right;
}

.list {
	font-family: 'Lobster', cursive;
	font-size: 0.7em;
	background-color: rgba(236, 197, 255, .7);
	/*width: 100%;*/
	/*height: 150px;*/
	position: relative;
	border: 1px solid #993D6A;
	padding: 15px 25px;
	margin: 0 0 20px 85px;
	display: inline-block;
	top: 20px;

}

#slogan {
	font-family: 'Futura', sans-serif;
}

#spacing {
	width: 30px;
	height: 300px;
	display: inline-block;

}

#love {
	display: inline-block;
	width: 250px;
	height: 166px;
	margin: 0 40px 0 5px;
	bottom: 25%;
	background-color: rgba(255, 255, 255, .3);
	border: 2px solid #993D6A;
	position: relative;
	float: right;
}

#love img {
	width: 100%;
	height: auto;
}

#contact {
	font-family: Lucida Sans, sans-serif;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: 100px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
    margin: 30px 0 0 120px;
    bottom: 25px;
}
