* {
	padding:0;
	margin: 0;
}

	body {
	background: url('../images/psari.jpg') no-repeat center center fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: 90%;
	border-radius: 5px;
	position: absolute;
	min-width: 100%;
 	min-height: 100%;
}

h1 {
	font-family: 'Megrim', sans-serif;
	font-size: 4em;
	font-weight: lighter;
	background-color: #ECEE4F;
	border-radius: 15px;
	width:85%;
	padding:3px 15px;
	margin-left: 7px;
	margin-top: 20px;
	display: inline-block;
	clear: both;
}

h3 {
	font-family: 'Lobster', cursive;
	font-size: 2em;
	font-weight: lighter;
}

p {
	font-family: 'Lobster', sans-serif;
	font-size: 0.8em;
}

div > a {
	text-decoration: none;
	color: #000;
}

div > ul {
	font-family: 'Lobster', cursive;
	font-size: 1em;
	background-color: rgba(236, 197, 255, .7);
	/*width: 100%;*/
	/*height: 150px;*/
	position: relative;
	border: 1px solid #993D6A;
	padding: 15px 25px;
	margin: 0 0 0 85px;
	display: inline-block;
	top: 20px;
}

span {
	font-size: 1.8em;
	text-decoration: underline;
}

/*div > li {
	font-family: 'Anton', cursive;
	font-size: 0.7em;
}*/

.list {
	font-family: 'Futura', cursive;
	font-size: 0.7em;
	background-color: rgba(236, 197, 255, .7);
	/*width: 100%;
	/*height: 150px;*/
	position: relative;
	border: 5px solid #ECEE4F;
	padding: 15px 25px;
	margin: 0 0 20px 85px;
	display: inline-block;
	top: 20px;
}

.main {
	background-color: rgba(141, 242, 162, 0.7);
	width: 450px;
	border: solid;
	border-color: rgb(16,130,170);
	border-radius: 8px;
	display: inline-block;
	position: relative;
	right: 20px;
	top: 30px;
	color: #fff;
	text-align: right;
	padding: 10px 20px;
	margin: 0 40px;
	clear: both;
	float: right;
}

.menu_item {
    float: left;
}

.menu_item a {
	font-family: 'Lobster', sans-serif;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu_item a:hover {
    background-color: #111;
}

#wrapper {
  background-color: #660033;
  width: 960px;
  margin: auto;
}

#contact {
	font-family: 'Futura', sans-serif;
	font-size: 0.8em;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    /*width: 70px;*/
    background: rgba(16,130,170, .7);
    color: #FFF;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    margin: 30px 0 -50px 83px;
    display: inline-block;
    /*bottom: 5px;*/
    /*clear: left;*/
}

#love {
	display: inline;
	width: 185px;
	height: 185px;
	margin: 0 40px 0 5px;
	bottom: 25%;
	background-color: rgba(255, 255, 255, .3);
	border: 2px solid rgb(236,236,79);
	position: relative;
	float: right;
}

#love img {
	width: 100%;
	height: auto;
}

#menu_box {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#serv_list {
	font-family: 'Lobster', cursive;
	font-size: 0.7em;
	text-align: center;
	background-color: rgba(246, 27, 200, .7);
	/*width: 100%;*/
	/*height: 150px;*/
	position: relative;
	border: 2px solid #ECEE4F;
	border-radius: 100px;
	padding: 40px;
	margin: -320px 0 5px 85px;
	display: inline-block;
	clear: right;
}

#slogan {
	font-family: 'Futura', sans-serif;
	font-size: 1.3em;
}

#spacing {
	width: 30px;
	height: 250px;
	display: inline-block;
}